*
h1 {
    color: #e9ede3a7;
    font-size: 40px;
}

h4 {
    color: #dbe2d1a7;
    font-weight: 100;
    font-size: 15px;
}

.mainText{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px rgba(223, 208, 188, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.29);
    padding: 40px;
    text-align: center;
    color: #ecf0e5a7;
}