*
body {
    font-family: helvetica;
    color: #d7d4d4;
    background-color: rgb(25, 40, 22);
    margin: 5mm;  
    flex-direction:column;

  }
section{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}  

h4,h2,h3,h1,h5 {
  text-align: center;
}

.title,
ul li {
    color: #22150c;
    text-shadow: 0 0 .1rem rgba(0, 0, 0, .4);
}


.container {
  display: flex;
}

.suspectCard {
  background-color: rgb(84, 100, 132);
  margin: 2rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
  border: 3rem solid transparent;
  transition: 200ms ease-in-out transform;
}

.card {
  background-color: rgba(123, 139, 119, 0.545);
  margin: 1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  border: 1rem solid transparent;
  transition: 200ms ease-in-out transform;
}

.weaponsCard {
  background-color: rgb(61, 91, 152);
  margin: .5rem;
  align-items: center;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 17.5%; 
  border: 3px solid #ccc; 
  border-radius: 2px; 
  cursor: pointer;
}

.roomsCard {
  background-color: rgb(61, 91, 152);
  margin: .5rem;
  align-items:center;
  padding: 0.2rem;
  display:flex;
  flex-direction: row;
  position: relative;
  width: 17.5%; 
  border: 3px solid #ccc; 
  border-radius: 2px; 
  overflow: hidden; 
  cursor: pointer;
}
